In [112]:
import pandas as pd

In [113]:
dataset = pd.read_csv("/Users/vambat1/Documents/Projects/Machine-Learning/05-Stock-Trend-Prediction/data/data_ingestion/SENCO.csv")

In [114]:
dataset.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-07-14 00:00:00+05:30,429.386286,443.366305,400.627403,404.721527,15116071,0.0,0.0
1,2023-07-17 00:00:00+05:30,405.420536,411.911259,384.450508,399.978302,2950938,0.0,0.0
2,2023-07-18 00:00:00+05:30,397.431973,406.069622,386.447672,389.742950,1009490,0.0,0.0
3,2023-07-19 00:00:00+05:30,391.440521,394.336375,383.801445,384.650238,562170,0.0,0.0
4,2023-07-20 00:00:00+05:30,382.453383,384.450529,360.934151,363.630280,1070866,0.0,0.0

In [115]:
dataset['Date'] = pd.to_datetime(dataset['Date']).dt.strftime('%Y-%m-%d')

In [116]:
dataset.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-07-14,429.386286,443.366305,400.627403,404.721527,15116071,0.0,0.0
1,2023-07-17,405.420536,411.911259,384.450508,399.978302,2950938,0.0,0.0
2,2023-07-18,397.431973,406.069622,386.447672,389.742950,1009490,0.0,0.0
3,2023-07-19,391.440521,394.336375,383.801445,384.650238,562170,0.0,0.0
4,2023-07-20,382.453383,384.450529,360.934151,363.630280,1070866,0.0,0.0

In [117]:
dataset.isna().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [118]:
dataset.isna().sum().any()

False

In [119]:
dataset.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-07-14,429.386286,443.366305,400.627403,404.721527,15116071,0.0,0.0
1,2023-07-17,405.420536,411.911259,384.450508,399.978302,2950938,0.0,0.0
2,2023-07-18,397.431973,406.069622,386.447672,389.742950,1009490,0.0,0.0
3,2023-07-19,391.440521,394.336375,383.801445,384.650238,562170,0.0,0.0
4,2023-07-20,382.453383,384.450529,360.934151,363.630280,1070866,0.0,0.0

In [120]:
dataset.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits'],
      dtype='object')

In [121]:
dataset.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,152.000000,152.000000,152.000000,152.000000,1.520000e+02,152.000000,152.0
mean,618.483831,633.528551,604.902870,617.040266,7.316779e+05,0.006579,0.0
std,156.354679,159.130763,152.349768,154.568311,1.459058e+06,0.081111,0.0
min,361.433420,378.758641,357.938416,363.630280,0.000000e+00,0.000000,0.0
25%,416.954047,422.845633,408.403779,413.271843,2.548720e+05,0.000000,0.0
50%,683.922484,699.425299,667.995269,682.324768,3.837945e+05,0.000000,0.0
75%,747.712494,765.599991,727.600021,745.145996,6.778570e+05,0.000000,0.0
max,839.950012,850.000000,803.549988,831.900024,1.511607e+07,1.000000,0.0

In [122]:
dataset.dtypes

Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends       float64
Stock Splits    float64
dtype: object

In [123]:
dataset.duplicated().any()

False

In [4]:
import os
import pandas as pd

os.chdir('/Users/vambat1/Documents/Projects/Machine-Learning/05-Stock-Trend-Prediction/')

data_dir = "data"
data_preprocessing_artifact_dir_name = "data_preprocessing"
data_preprocessing_artifact_dir_path = os.path.join(data_dir, data_preprocessing_artifact_dir_name)
os.makedirs(data_preprocessing_artifact_dir_path, exist_ok=True)

data_preprocessed_filename = "preprocessed_dataset.csv"
data_preprocessed_filepath = os.path.join(data_preprocessing_artifact_dir_path, data_preprocessed_filename)

try:
    dataset = pd.read_csv("/Users/vambat1/Documents/Projects/Machine-Learning/05-Stock-Trend-Prediction/data/data_ingestion/TATASTEEL.csv")

    dataset['Date'] = pd.to_datetime(dataset['Date'])

    dataset = dataset[['Date', 'Close']]

    # Handling Null Values
    if dataset.isna().any().any():  # Check if any value is null
        dataset = dataset.dropna()
    else:
        pass

    # Handling Duplicates
    if dataset.duplicated().any():  # Check if any duplicate rows exist
        dataset = dataset.drop_duplicates()
    else:
        pass

    dataset.to_csv(data_preprocessed_filepath, index=False)
except Exception as e:
    print(f"Exception : {e}")